/* button  */

.quote_btn {
  position: relative;
  letter-spacing: 2px;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  transition: 0.5s;
  border: 2px solid #ae0000;
  border-radius: 30px;
  overflow: hidden;
  padding: 10px 24px !important;
  font-size: 1rem !important;
}

.quote_btn:hover {
  background: #ffffff url(https://i.postimg.cc/wBXGXbWN/pixel.png);
  color: white !important;
  transition-delay: 0.1s;
  background-size: 180px;
  -webkit-animation: animate 0.5s steps(8) forwards;
  animation: animate 0.1s steps(8) forwards;
}

@-webkit-keyframes animate {
  0% {
    background-position-y: 0;
  }

  100% {
    background-position-y: -480px;
  }
}

@keyframes animate {
  0% {
    background-position-y: 0;
  }

  100% {
    background-position-y: -480px;
  }
}

.quote_btn:after {
  content: "";
  top: 0;
  transform: translateX(100%);
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 1;
  animation: slide 2s infinite;
  background: linear-gradient(
    to right,
    rgba(64, 235, 241, 0) 0%,
    rgb(226 136 136 / 80%) 50%,
    rgba(64, 235, 241, 0) 99%,
    rgba(64, 235, 241, 0) 100%
  );
}

@keyframes slide {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}


/* button  */


@media (max-width: 576px) {
  .mobile-navbar {
    display: block;
  }
  #desktopNavbar {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .mobile-navbar {
    display: block;
  }
  #desktopNavbar {
    display: none !important;
  }
}

@media (min-width: 992px) {
  .mobile-navbar {
    display: none;
  }
  #desktopNavbar {
    display: block !important;
  }
}

@media (min-width: 1200px) {
  .mobile-navbar {
    display: none;
  }
  #desktopNavbar {
    display: block !important;
  }
}

@media (min-width: 1400px) {
  .mobile-navbar {
    display: none;
  }
  #desktopNavbar {
    display: block !important;
  }
}


/* =========  hover dropdown menu  ============= */
.nav-item:hover .dropdown-toggle::after {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.hoverNone:hover{
  color: black;
}

.active:after{
  color: red!important;
}