

.CompanyDropdown{
    position: absolute;
    background-color: #ffffff;
    padding: 0;
    margin-top: 10px;
    cursor: pointer;
    margin-top: 1rem;
  }

  .CompanyDropdown ul li{
   background-color: aliceblue;
  }


  .ServiceDropdown{
    position: absolute;
    background-color: #ffffff;
    padding: 0;
    margin-top: 10px;
    cursor: pointer;
    width: 100%;
    left: 0;
    right: 0;
    margin-top: 1rem;
    padding: 1.5rem;
  }